<span class="toggleChecklist" ng-if="!hasRequiredDependency() && verbose=='true'">Select a {{ requiresmodel }}</span>

<span class="toggleChecklist" ng-if="hasRequiredDependency()">

    <span ng-click="toggleChecklist()">
            {{ data | checklist: source:sourcekey:sourcevalue:model:noselection }}
    </span>

    <span class="checklist" ng-show="menu">
        <label class="form-control">
            <input
                type="checkbox"
                name="selected{{model}}[]"
                value=""
                ng-checked="data.length == 0"
                ng-click="clearFilter(model)"> {{ noselection }} {{ model }}
        </label>
        <input class="form-control" name="filter" placeholder="Filter {{ model }}" ng-model="filter" />
       <label ng-repeat="item in source | filter : filter" class="form-control">
           <input
               type="checkbox"
               name="selected{{model}}[]"
               value="{{ item[sourcekey] }}"
               ng-checked="data.indexOf(item[sourcekey] ) > -1"
               ng-click="toggleList(item[sourcekey])"> {{ item[sourcevalue] }}
       </label>
    </span>

</span>